@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

@theme {
  /* 색상 추가 */

  /* 폰트 추가 */
  --font-pretendard: 'Pretendard', sans-serif;
}
